
  @import url('https://fonts.googleapis.com/css2?family=Tilt+Warp&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300&family=Tilt+Warp&display=swap');



body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.search-mobile{
    width: 0;
    height: 0;
}

.top{
    background-color:  #ECF3FF;
    position: absolute;
width: 100%; 

height: 155px;
left: 0px;
top: 0px;
}



.envelope{
    /* width: 30px;
    height: 30px; */
    position: absolute;
    left: 4.24%;
    right: 94.38%;
    /* top: 0.32%; */
    top: 9px;
    bottom: 99.32%;
}

.email{
    position: absolute;
width: 164px;
height: 22px;
left: 100px;
top: -10px;

font-family: 'manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
}

.Follow-us-on{

position: absolute;
width: 97px;
height: 22px;
left: 1109px;
top: -10px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;

}

.insta{
    position: absolute;
width: 19px;
height: 19px;
left: 1215px;
top: 10px;

}

.youtube{
    position: absolute;
width: 27.7px;
height: 21.50px;
left: 1254.73px;
top: 9px;
}

.facebook{
    position: absolute;
width: 19px;
height: 19px;
left: 1296px;
top: 10px;
}

.linkedin{
    position: absolute;
width: 19px;
height: 19px;
left: 1328px;
top: 10px;
}

.contact-us{
    
position: absolute;
width: 84px;
height: 22px;
left: 1400px;
top: -8px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 22px;
}


.global-logo{
    position: absolute;
    width: 150px;
    height: 100px;
    left: 67.25px;
    top: 20px;

}

.top-search-icon{
    position: absolute;
    left: 0px;
    top: -1px;
    bottom: 97.79%;
    width: 243px;
    height: 48px;
    background-color: #ECF3FF;
    border-radius: 5px;

}

/* .top-search-icon:hover{
    background-color: #EA9212;
} */


.search-text{
    position: absolute;
    width: 65px;
    height: 40px;
    left: 51px;
    top: -5px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
}

.top-search{
    position: absolute;
width: 243px;
height: 47px;
left: 246px;
top: 45px;

border: 1px solid #454A6D;
border-radius: 5px;
}


/*/////////////////////////////////////////////////////////////////////////////////////////////////*/
.nav-text-1{
    
position: absolute;
width: 70px;
height: 25px;
left: 592px;
top: 5px;
text-decoration: none;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
/* identical to box height */
display: flex;
align-items: center;
margin-right: 50px;
}

 .nav-text-1:hover {
    background-color: white;
    width: 75px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 
.nav-right:hover .nav-text-2 {
    background-color: white;
    width: 100px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

 .nav-text-3 :hover{
    background-color: white;
    width: 75px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
 .nav-text-4 :hover{
    background-color: white;
    width: 75px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

 .nav-text-5:hover {
    background-color: white;
    width: 75px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.nav-text-6 :hover{
    background-color: white;
    width: 75px;
    height: 60px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 

.nav-text-2{
    
position: absolute;
width: 96px;
height: 25px;
left: 670px;
top: 5px;
text-decoration: none;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}

.nav-text-3{
    
position: absolute;
width: 96px;
height: 25px;
left: 774px;
top: 5px;
text-decoration: none;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}

.nav-text-4{
    
position: absolute;
width: 96px;
height: 25px;
left: 877px;
top: 5px;
text-decoration: none;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}

.nav-text-5{
    
position: absolute;
width: 96px;
height: 25px;
left: 980px;
top: 5px;
text-decoration: none;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}

.nav-text-6{
    
position: absolute;
width: 96px;
height: 25px;
left: 1083px;
top: 5px;
text-decoration: none;
font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 25px;
}

.cartlogo{
    
position: absolute;
left: 1183.78px;
right: 10.28px;
top: 4px;
bottom: 97.83px;
height: 35px;
width: 25px;
}

/* .k{
    position: absolute;
width: 50px;
height: 50px;
left: 1220px;
top: -19px;
padding: 5px;

/* background-color: #005DF2; */



.k-text{
    position: absolute;
width: 50px;
height: 50px;
left: 1220px;
top: -2px;
border-radius: 100%;
font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 33.4545px;
line-height: 46px;
color: white;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.header{

position: absolute;
width: 100%;
height : 928px;

top: 155px;

background: linear-gradient(180deg, #E9F1FF 0%, #F9FBFF 100%);

}

.head-btn1{
    position: absolute;
width: 218px;
height: 58px;
left: 115px;
top: 332px;
  text-decoration:none;

background: #EA9212;
border-radius: 5px;
border: 1px solid #EA9212;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
color: white;
    
}

.head-btn2{
    position: absolute;
    width: 218px;
    height: 58px;
    left: 365px;
    top: 332px;
    text-decoration:none;
    border: 1px solid #005DF2;
    border-radius: 5px;


font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
color: #005DF2;
}



.head-textbox{
    /* position:absolute; */
width: 510px;
height: 135.84px;
left: 115px;
top: 619px;

background: #FFFFFF;
}

.man-img{
position: absolute;
width: 445px;
height: 822px;
left: 876px;
}

.man-text{
    position: absolute;
    width: 476px;
    height: 50px;
    left: 119px;
    top: 222px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    
    color: #005DF2;
}

/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

.middle-sec{
   width: 100%;
}

.cards-sec{
    position: absolute;
width: 1418px;
height: 699px;
left: 52px;
top: 1032px;
/* justify-content: center; */

    

background: #FFFFFF;
box-shadow: 0px 10px 56px rgba(0, 0, 0, 0.08);
border-radius: 5px;
    
}

.icon1{
    position: absolute;
    /* width: 216px;
    height: 216px;
    left: 115px;
    top: 1097px; */
    width: 165px;
    height: 162px;
    left: 65px;
    top: 148px;
    
    background: #F0F6FF;
    border-radius: 10px;
}

.icon2{
    position: absolute;
    /* width: 216px;
    height: 216px;
    left: 115px;
    top: 1097px; */
    width: 165px;
    height: 162px;
    left: 800px;
    top: 148px;
    
    background: #F0F6FF;
    border-radius: 10px;
}

.icon3{
    position: absolute;
    /* width: 216px;
    height: 216px;
    left: 115px;
    top: 1097px; */
    width: 165px;
    height: 162px;
    left: 65px;
    top: 400px;
    
    background: #F0F6FF;
    border-radius: 10px;
}

.icon4{
    position: absolute;
    /* width: 216px;
    height: 216px;
    left: 115px;
    top: 1097px; */
    width: 165px;
    height: 162px;
    left: 800px;
    top: 400px;
    
    background: #F0F6FF;
    border-radius: 10px;
}
.parent{
    position: relative;
}

.head-bg{
    position: absolute;
width: 1440px;
height: 928px;
left: 0px;
top: 0px;

background: linear-gradient(180deg, #E9F1FF 0%, #F9FBFF 100%);
}

.head-text{
    position: absolute;
width: 658px;
height: 166px;
left: 115px;
top: -1px;

font-family: 'sans serif';
font-style: normal;
font-weight: 400;
font-size: 48px;
line-height: 110%;
/* or 53px */


color: #005DF2;

}

.man-stat{
    position: relative;
width: 261.2px;
height: 185.42px;

background: #FFFFFF;
box-shadow: 0px 2.94314px 11.0368px rgba(0, 0, 0, 0.25);
border-radius: 6.62207px;
left: 740px;
top:520px;
}

.why-us{
    position: absolute;
width: 100%;
height: 761px;
left: 0px;
top: 2120px;

background: #E9F1FF;
}

.why-us-image{
    position: absolute;
    width: 500px;
height: 529.74px;
left: 71px;
top: 169px;
}

.why-us-1{
    position: absolute;
width: 146px;
height: 146px;
left: 655px;
top: 569px;
background: #FFFFFF;
border-radius: 5px;
}

.why-us-2{
    position: absolute;
width: 146px;
height: 146px;
left: 655px;

top: 369px;
background: #FFFFFF;
border-radius: 5px;
}

.why-us-3{
    position: absolute;
width: 146px;
height: 146px;
left: 655px;
top: 169px;

background: #FFFFFF;
border-radius: 5px;
}

.why-us-1-txt{
    position: absolute;
    width: 282px;
    height: 33px;
    left: 833px;
    top: 148px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    
    
    color: #000000;
}

.why-us-2-txt{
    position: absolute;
    width: 283px;
    height: 33px;
    left: 833px;
    top: 348px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: #000000;
}

.why-us-3-txt{
    position: absolute;
    width: 463px;
    height: 33px;
    left: 833px;
    top: 550px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    
    
    color: #000000;
}

.why-us-1-para{
    position: absolute;
    width: 405px;
    height: 44px;
    left: 833px;
    top: 212px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    
    color: #000000;
}

.why-us-2-para{

    position: absolute;
    width: 405px;
    height: 44px;
    left: 833px;
    top: 412px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    
    color: #000000;

}

.why-us-3-para{
    position: absolute;
    width: 405px;
    height: 44px;
    left: 833px;
    top: 616px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    
    color: #000000;
}

.why-us-1-link{
    position: absolute;
    width: 123px;
    height: 25px;
    left: 833px;
    top: 289px;
    text-decoration: none;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #005DF2;
}
.why-us-2-link{
    position: absolute;
    width: 223px;
    height: 25px;
    left: 833px;
    top: 489px;
    text-decoration: none;

    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #005DF2;
}

.why-us-3-link{
    position: absolute;
    width: 123px;
    height: 25px;
    left: 833px;
    top: 693px;
    text-decoration: none;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */
    
    
    color: #005DF2;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/


.latestnews-container {
    padding: 2% 4%;
    background-color: #e4e4e7;
    overflow:scroll;
  }
  .newsheading{
    
    padding-bottom: 3rem;
  }
  .newsheading p {
    margin-top: rem !important;
    padding-top: 0rem !important;
  }
  .newscard {
    width: 20vh;
  }
  .newscardcontainer {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .card-btn {
    background-color: #005df2;
    color: #e4e5e6;
    border-radius: 5px;
    width: 100%;
    height: 50px;
    border: none;
    font-size: 1rem;
  }
  .card-text{
    font-size: 1rem;
    font-family: Poppins;
    margin: 1rem 1rem 1rem 1rem;
    padding-bottom: 1rem;
    font-weight: bolder;
  }
  .card-light-text{
    font-weight: 30;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding-bottom: 1rem;
  }
  
  .card-text, .card-light-text{
    text-align: left;
  }
  #button{
      margin: 1rem 22rem 1rem 22rem;
      padding: 1rem 20rem 1rem 20rem;
  }
  .carhousel-button{
      margin:2rem 2rem;
      padding: 1rem 2rem 1rem 2rem;
      border: 2px solid blue;
      color: #005df2;
      
  }
  
  /* customer reviews */
  
  
  .customer-reviews{
      background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.7)),
      url("../Images/sectionbg.jpg");;
  }
  .owlitem-container{
    margin-bottom: 2rem;
  }
  
  .item{
    margin: 1rem 1rem 0rem;
    padding: 4rem 4rem;
    text-align: center;
  }
  
  .item img{
    margin-bottom: 8%;
    border-radius: 10px;
  }
  .owl-item{
      background-color: #c7c9cc;
      margin-bottom: 2rem;
  }

.what-our-customer-say{
    position: absolute;
width: 385px;
height: 40px;
left: 508px;
top: 3500px;

font-family: 'DM Serif Text';
font-style: normal;
font-weight: 400;
font-size: 36px;
line-height: 110%;
color: #1F1F1F;
}

.slideshow-txt{
position: absolute;
width: 585px;
height: 50px;
left: 428px;
top: 3570px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
text-align: center;

color: #000000;
}

.carousel-1{
    position: absolute;
    width: 400px;
    height: 197px;
    top: 3708px;
    left: 67px;
    bottom: 150px;
    background: #FFFFFF;
box-shadow: 0px 0px 144.516px -46.4516px rgba(0, 0, 0, 0.15);
border-radius: 5px;
}

.slideshow-icon-1{
    position: relative;
    border-radius: 100%;
    top: -30px;
left: 158px;
    width: 80px;
    height: 80px;
}

.slideshow-icon-2{
    position: relative;
    border-radius: 100%;
    top: -30px;
left: 158px;
   
    width: 80px;
    height: 80px;
}

.slideshow-icon-3{
    position: relative;
    border-radius: 100%;
    top: -30px;
left: 158px;
    width: 80px;
    height: 80px;
}

.carousel-2{
    position: absolute;
    width: 400px;
    height: 197px;
    top: 3708px;
    left: 550px;
    bottom: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 144.516px -46.4516px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}

.carousel-3{
    position: absolute;
    width: 400px;
    height: 197px;
    top: 3708px;
    left: 1050px;
    bottom: 150px;
    background: #FFFFFF;
box-shadow: 0px 0px 144.516px -46.4516px rgba(0, 0, 0, 0.15);
border-radius: 5px;
}

.carousel-4{
    position: absolute;
    width: 447px;
    height: 197px;
    background-color: #f4f5f8;
    top: 3708px;
    left: 313px;
    bottom: 150px;
}

.our-major{
    position: absolute;
width: 237px;
height: 33px;
left: 602px;
top: 4084px;

font-family: 'Recoleta';
font-style: normal;
font-weight: 500;
font-size: 30px;
line-height: 110%;
/* identical to box height, or 33px */
color: #1F1F1F;
}

.our-esteemed{
    position: absolute;
width: 332px;
height: 25px;
left: 554px;
top: 4131px;

font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 25px;
/* identical to box height */

text-align: center;

color: #000000;
}

/*%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%*/

.footer-img-1{
    /* position: absolute;
width: 307.06px;
height: 87.98px;
left: 61px;
top: 4206px;

background: #FFFFFF;
box-shadow: 0px 17.5968px 29.9146px 2.63952px rgba(0, 0, 0, 0.07);
border-radius: 5px; */
position: absolute;
width: 168.93px;
height: 65.11px;
left: 124.35px;
top: 4217.44px;
}

.footer-img-2{
    position: absolute;
    width: 168.93px;
    height: 65.11px;
    left: 468.37px;
    top: 4217.44px;
}

.footer-img-3{
    position: absolute;
    width: 168.93px;
    height: 65.11px;
    left: 804.46px;
    top: 4217.44px;
}

.footer-img-4{
    position: absolute;
    width: 168.93px;
    height: 65.11px;
    left: 1139.68px;
    top: 4217.44px;
    
}

.footer{
    position: absolute;
width: 100%;
height: 672px;
left: 0px;
top: 4332px;
background: #061C41;
}

.footer-global{
    position: absolute;
width: 200px;
height: 100px;
left: 81px;
top: 50px;

}

.footer-globe-text{
    position: absolute;
width: 300px;
height: 153px;
left: 81px;
top: 200px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 22.489px;
line-height: 28px;
/* or 125% */


/* White */

color: #FFFFFF;

opacity: 0.6;
}

.footer-about-us{
    position: absolute;
width: 108px;
height: 40px;
left: 467px;
top: 50px;

font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 25.3001px;
line-height: 39px;
/* identical to box height, or 156% */
text-decoration: none;

/* White */

color: #FFFFFF;
}

.aboutus-1{
    position: absolute;
    width: 100px;
    height: 31px;
    left: 467px;
    top: 110px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 22.489px;
    line-height: 31px;
    /* identical to box height */
    
    text-decoration: none;
    /* White */
    
    color: #FFFFFF;
    
    opacity: 0.6;
}

.aboutus-2{
    position: absolute;
width: 200px;
height: 31px;
left: 467px;
top: 164px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 22.489px;
line-height: 31px;
/* identical to box height */
text-decoration: none;

/* White */

color: #FFFFFF;

opacity: 0.6;
}


.aboutus-3{position: absolute;
width: 200px;
height: 31px;
left: 467px;
top: 228px;

font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 22.489px;
line-height: 31px;
/* identical to box height */

text-decoration: none;
/* White */

color: #FFFFFF;

opacity: 0.6;
}

.aboutus-4{position: absolute;
    width: 200px;
    height: 31px;
    left: 467px;
    top: 292px;
    
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 22.489px;
    line-height: 31px;
    /* identical to box height */
    text-decoration: none;
    
    /* White */
    
    color: #FFFFFF;
    
    opacity: 0.6;
    }

    .aboutus-5{position: absolute;
        width: 200px;
        height: 31px;
        left: 467px;
        top: 356px;
        
        font-family: 'Manrope';
        font-style: normal;
        font-weight: 400;
        font-size: 22.489px;
        line-height: 31px;
        /* identical to box height */
        
        text-decoration: none;
        /* White */
        
        color: #FFFFFF;
        
        opacity: 0.6;
        }

        .aboutus-6{position: absolute;
            width: 200px;
            height: 31px;
            left: 467px;
            top: 420px;
            text-decoration: none;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 400;
            font-size: 22.489px;
            line-height: 31px;
            /* identical to box height */
            
            
            /* White */
            
            color: #FFFFFF;
            
            opacity: 0.6;
            }


            .footer-Quick-links{
                position: absolute;
            width: 200px;
            height: 40px;
            left: 704px;
            top: 50px;
            text-decoration: none;
            font-family: 'Manrope';
            font-style: normal;
            font-weight: 600;
            font-size: 25.3001px;
            line-height: 39px;
            /* identical to box height, or 156% */
            color: #FFFFFF;
            }

            .quicklink-1{position: absolute;
                width: 200px;
                height: 31px;
                left: 704px;
                top: 110px;
                
                font-family: 'Manrope';
                font-style: normal;
                font-weight: 400;
                font-size: 22.489px;
                line-height: 31px;
                /* identical to box height */
                text-decoration: none;
                
                /* White */
                
                color: #FFFFFF;
                
                opacity: 0.6;
                }

                .quicklink-2{position: absolute;
                    width: 200px;
                    height: 31px;
                    left: 704px;
                    top: 164px;
                    
                    font-family: 'Manrope';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 22.489px;
                    line-height: 31px;
                    /* identical to box height */
                    
                    text-decoration: none;
                    /* White */
                    
                    color: #FFFFFF;
                    
                    opacity: 0.6;
                    }

                    .quicklink-3{position: absolute;
                        width: 200px;
                        height: 31px;
                        left: 704px;
                        top: 228px;
                        
                        font-family: 'Manrope';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22.489px;
                        line-height: 31px;
                        /* identical to box height */
                        
                        text-decoration: none;
                        /* White */
                        
                        color: #FFFFFF;
                        
                        opacity: 0.6;
                        }

                        .quicklink-4{position: absolute;
                            width: 200px;
                            height: 31px;
                            left: 704px;
                            top: 292px;
                            
                            font-family: 'Manrope';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 22.489px;
                            line-height: 31px;
                            /* identical to box height */
                            
                            text-decoration: none;
                            /* White */
                            
                            color: #FFFFFF;
                            
                            opacity: 0.6;
                            }

                            .quicklink-5{position: absolute;
                                width: 200px;
                                height: 31px;
                                left: 704px;
                                top: 356px;
                                
                                font-family: 'Manrope';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 22.489px;
                                line-height: 31px;
                                /* identical to box height */
                                
                                text-decoration: none;
                                /* White */
                                
                                color: #FFFFFF;
                                
                                opacity: 0.6;
                                }

                                .quicklink-6{
                                    position: absolute;
                                    width: 200px;
                                    height: 31px;
                                    left: 704px;
                                    top: 420px;
                                    
                                    font-family: 'Manrope';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 22.489px;
                                    line-height: 31px;
                                    /* identical to box height */
                                    
                                    text-decoration: none;
                                    /* White */
                                    
                                    color: #FFFFFF;
                                    
                                    opacity: 0.6;
                                }

                                .footer-subscribe{
                                    text-decoration: none;
                                    position: absolute;
                                    width: 333px;
                                    height: 40px;
                                    left: 1031px;
                                    top: 50px;

                                    font-family: 'Manrope';
                                    font-style: normal;
                                    line-height: 39px;
                                    font-weight: 600;
                                    font-size: 25.3001px;





                                    color: #FFFFFF;

                                }

                                .footer-search-icon{
                                    position: absolute;
                                    left: 1031px;
                                    top: 120px;
                                    bottom: 97.79%;
                                    width: 333px;
                                    height: 60px;
                                    background: #061C41;
                                    border: 1px solid #FFFFFF;
                                    border-radius: 9px;
                                    border-radius: 5px;
                                }

                                .footer-social-icon{
                                    position: absolute;
                                  width: 189.75px;
                                  height: 49.2px;
                                left: 1029px;
                                  top: 420px;
                                }
/*$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$$*/

@media screen and (max-width: 600px) {
    

    body{
    }

    .mob{
        width: 1004;
        /* min-height: auto; */
        height: 200px;
                  
        background-image: url("head-background.png");
        overflow-x: hidden;

    }

    .menu-bar{
        width: 32px;
        height: 30px;
        top: 52px;
        left: 20px;
        position: absolute;
    }
    .top{
        width: 0;
        height: 0;
        background-image: url("head-background.png");
        background-color: #cccccc;
    position: absolute;
    }

    .email{
        width: 0;
        height: 0;
        text-decoration: none;
        overflow: hidden;
    }

    .top-search-icon{
        overflow: hidden;
        width: 0;
        height: 0;
    }

    .top-search{
        overflow: hidden;
        width: 0;
        height: 0;
        background-image: url("head-background.png");

    }

    .global-logo{
     left: 170px;
     height: 160px;
     top: -10px;
    }

    .search-mobile{
        position: absolute;
        top: 50px;
        height: 30px;
        width: 30px;
        left: 430px;
    }

    .head-text{
        text-align: left;
        margin :auto;
        left: 16px;
        width: 329px;
        height: 166px;
        font-family: 'DM Serif Text';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 110%;
    }
    .man-text{
        text-align: center;
    }

}
